html, #map-canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    float: right;
}

body {
    padding-top: 50px;
    height: 100%;;
}

.navbar {
    border-color: #29b765;
    background: #2ecc71;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .5);
}

.navbar-brand {
    color: #fff;
    font-weight: 700;
    font-family: 'Merienda', cursive;
    text-shadow: 2px 1px 3px #000;
}

.navbar-brand:hover {
    color: #fff !important;
}

.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
    color: #1E824C;
}

#sidebar {
    width: 100%;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 768px){
    #sidebar {
        position: fixed;
        z-index: 495;
        height: 100%;
        width: 250px;
        background: #6C7A89;
        border-right: 1px solid #000;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    }
}

.container {
    margin-left: 0 !important;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-toggle {
    background-color: #26A65B !important;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

#menu {
    padding-right: 0px;
    padding-left: 0px;
}

ul li > a {
    width: 100%;
    height: 50px;
    color: #fff;
    text-shadow: 2px 1px 3px #000;
    padding: 0 0 0 12px;
    line-height: 33px;
    vertical-align: middle;
    display: block;
    position: relative;
    background: #6C7A89; /* #95A5A6 */
    /*background: -moz-linear-gradient(top,#2a2a2a 0,#262626 100%);
    background: -ms-linear-gradient(top,#2a2a2a 0,#262626 100%);
    background: -o-linear-gradient(top,#2a2a2a 0,#262626 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#2a2a2a),color-stop(100%,#262626));
    background: -webkit-linear-gradient(top,#2a2a2a 0,#262626 100%);
    background: linear-gradient(to bottom,#2a2a2a 0,#262626 100%);*/
}

ul li > a:hover, .nav>li>a:focus, .active {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    background: #6C7A89 !important;
}

#page-wrapper {
    float: right !important;
}

.row {
    margin-right: 15px !important;
    padding-left: 15px !important;
}